<!DOCTYPE html>
<html ng-app="wpApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Rikard</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="components.css">
	<link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
	<link rel="apple-touch-icon" href="./icon.png">
	<link rel="icon" type="image/png" href="favicon.ico" sizes="16x16">
</head>
<body>
	<div id="wrapper">
		<div class="nav-wrapper">

			<nav class="nav" ng-controller="navCtrl">
				<a class="nav-item" href="" ng-click="goTo(1)" title="">Test 1</a>
				<a class="nav-item" ng-click="goTo(2)" href="" title="">Test 2</a>
				<a class="nav-item" ng-click="goTo(3)" href="" title="">Test </a>
			</nav>
		</div>

		<div class="content-wrapper" ng-controller="homeCtrl">
			<div class="content">
			<div class="hero">
				<h1>{{content.heading}}!</h1>
				<p>Sometimes people do stupid things, like not doing their home work. Scroll on to read more...</p>
			</div>
				<h1>What is this?</h1>
				<p>
				{{content.aboutText}}
				</p>
			</div>

		</div>
		<footer>
			<h4>Some footer CC</h4>
		</footer>
	</div>
</body>
<!-- TYPEKIT FONT -->
<script src="https://use.typekit.net/bos2muz.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="app.js"></script>
</html>