<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Rikard</title>
	<link rel="stylesheet" href="styles/style.css">
	<link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
	<link rel="apple-touch-icon" href="./icon.png">
	<link rel="icon" type="image/png" href="favicon.ico" sizes="16x16">
</head>
<body>
<div id="wrapper">
	<div class="nav-wrapper">

		<nav class="nav" ng-controller="navCtrl" ng-hide="true">
			<a class="nav-item" href="" ng-click="goTo(1)" title="">Test 1</a>
			<a class="nav-item" ng-click="goTo(2)" href="" title="">Test 2</a>
			<a class="nav-item" ng-click="goTo(3)" href="" title="">Test </a>
		</nav>
	</div>

	<div class="content-wrapper" ng-controller="homeCtrl">
		<div class="content">
			<div class="hero">
				<h1>{{content.heading}}!</h1>
				<p>{{content.intro}}</p>
			</div>
		</div>

		<div ng-repeat="grad in gradients track by $index">
			<gradient color1="{{grad.a}}" color2="{{grad.b}}">
			</gradient>
		</div>
		
		<div class="el">
			#<input tabindex="1" ng-model="color.a" type="text" maxlength="6"/>
			#<input tabindex="2" ng-model="color.b" type="text" maxlength="6"/>
		</div>

		<button class="btn-round" ng-click="addItem(color)">
			<s class="bar"></s>
			<s class="bar"></s>
		</button>

	</div>
	<footer>
		<h4>Made with <5 by Rix1</h4>
	</footer>
</div>
</body>

<!-- TYPEKIT FONT -->
<script src="https://use.typekit.net/bos2muz.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!--Angular and main JS file-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="app.js"></script>

<!--Directives -->
<script src="components/gradient/gradient.directive.js"></script>

</html>