<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Gradient!Mixer</title>
	<link rel="stylesheet" href="styles/style.css">
	<link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
	<link rel="apple-touch-icon" href="./icon.png">
	<link rel="icon" type="image/png" href="favicon.ico" sizes="32x32">
</head>
<body>
<div id="wrapper" ng-cloak>
	<div class="nav-wrapper"></div>

	<div class="content-wrapper" ng-controller="homeCtrl" class="ng-cloak">
		<div class="content">
			<div class="hero" ng-cloak>
				<h1>{{content.heading}}!</h1>
				<p>{{content.intro}}</p>
				<p><small>{{content.tip}}</small></p>
			</div>
		</div>

		<div ng-repeat="grad in gradients track by $index" ng-cloak>
			<gradient colors="grad" add-to-export="exportCSS(arg1,arg2)">
			</gradient>
		</div>

		<div class="el">
			<input tabindex="1" ng-model="color" type="text" placeholder="Enter one or multiple HEX colors starting with '#'" autofocus autocomplete="off"/>
		</div>
		<div ng-cloak class="error"><small>{{error}}</small></div>
		<button class="btn-round" ng-click="addItem(color)">
			<s class="bar"></s>
			<s class="bar"></s>
		</button>
		<div class="exportarea" ng-show="generated_css.length > 0">
			<h3>Exported CSS: <small>(select and copy)</small></h3>
			<textarea cols="60" rows="12" wrap="off" ng-cloak>{{generated_css}}</textarea>
		</div>
	</div>
	<footer ng-controller="homeCtrl" ng-cloak>
		<h4>Made with <{{num}} by Rix1</h4>
	</footer>
</div>
</body>

<!-- TYPEKIT FONT -->
<script src="https://use.typekit.net/bos2muz.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!--Angular and main JS file-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="app.js"></script>

<!--Directives -->
<script src="components/gradient/gradient.directive.js"></script>

<!-- Google analytics -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71084291-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
