html,
body {
  height: 100%;
}
html {
  position: relative;
  min-height: 100%;
  font-family: "bebas-neue", sans-serif;
}
#wrapper {
  position: relative;
  min-height: 100%;
}
/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
h1 {
  font-family: "bebas-neue", sans-serif;
  text-align: center;
}
footer {
  color: rgba(66, 62, 61, 0.4);
  text-transform: uppercase;
  font-size: 70%;
  font-weight: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.content-wrapper {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 100px;
}
.el {
  padding: 15px;
  margin: 10px;
  font-family: "bebas-neue", sans-serif;
  font-size: 1.5em;
}
.exportarea {
  width: 70%;
  margin-top: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(66, 62, 61, 0.05);
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}
.exportarea h3 {
  margin: 0;
  padding-bottom: 5px;
  color: rgba(66, 62, 61, 0.8);
  border-bottom: 2px solid rgba(66, 62, 61, 0.2);
  width: 100%;
}
.exportarea textarea {
  width: 100%;
  border: none;
  outline: none;
  font-size: 13px;
  resize: none;
  color: #2C2C2C;
  background-color: transparent;
}
.error {
  margin-top: -5px;
  margin-bottom: 10px;
  font-weight: 400;
  color: rgba(66, 62, 61, 0.6);
}
.content {
  position: relative;
  width: 80%;
  max-width: 620px;
  margin: 0 auto;
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  flex-direction: column;
}
@media all and (max-width: 500px) {
  .content {
    width: 100%;
  }
  .content-wrapper {
    width: 90%;
    margin: 0 auto;
  }
}
/*========= HERO ===========*/
.hero {
  /*background: grey;*/
  text-align: center;
}
.hero > h1 {
  font-family: "blenny", "bebas-neue", sans-serif;
  font-size: 6em;
  background: -webkit-linear-gradient(left, #FFFF00, #00FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 80%;
}
.hero > p {
  font-family: "bebas-neue", sans-serif;
  font-size: 2em;
  color: #423E3D;
}
.hero > p small {
  font-size: .5em;
  font-style: italic;
  color: rgba(66, 62, 61, 0.4);
}
/*========= NAVBAR ===========*/
.nav-wrapper {
  position: relative;
  top: 0;
  z-index: 10;
  min-width: 100%;
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: center;
  justify-content: center;
}
.nav {
  /*background-color: pink;*/
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  flex-direction: row;
  width: 70%;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-item {
  font-family: "bebas-neue", sans-serif;
  font-size: 1.4em;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  /*background-color: indianred;*/
}
.nav-item:hover {
  border-bottom: 1px solid black;
}
.nav-item:visited {
  color: black;
}
.btn {
  border: none;
  color: white;
  background-color: #38A591;
  padding: 0;
  margin: 0;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.4), height 0.5s cubic-bezier(0, 0.1, 0, 1.4);
  -moz-transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.4), height 0.5s cubic-bezier(0, 0.1, 0, 1.4);
  -ms-transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.4), height 0.5s cubic-bezier(0, 0.1, 0, 1.4);
  -o-transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.4), height 0.5s cubic-bezier(0, 0.1, 0, 1.4);
  transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.4), height 0.5s cubic-bezier(0, 0.1, 0, 1.4);
}
.btn:hover {
  width: 60px;
  height: 60px;
}
.btn-round {
  border: none;
  color: white;
  background-color: #38A591;
  padding: 0;
  margin: 0;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.4), height 0.5s cubic-bezier(0, 0.1, 0, 1.4);
  -moz-transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.4), height 0.5s cubic-bezier(0, 0.1, 0, 1.4);
  -ms-transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.4), height 0.5s cubic-bezier(0, 0.1, 0, 1.4);
  -o-transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.4), height 0.5s cubic-bezier(0, 0.1, 0, 1.4);
  transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.4), height 0.5s cubic-bezier(0, 0.1, 0, 1.4);
  font-size: 4em;
  padding-top: 8px;
  outline: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.btn-round:hover {
  width: 60px;
  height: 60px;
}
.btn-round:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.btn-round:focus {
  width: 60px;
  height: 60px;
}
.btn-round:active {
  box-shadow: none;
  background-color: #329280;
}
.btn-round .bar {
  height: 4px;
  width: 20px;
  background-color: white;
  position: relative;
  display: block;
  margin: 0 auto;
}
.btn-round .bar:first-child {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.btn-round .bar:last-child {
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
}
input {
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  width: 500px;
  height: 35px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(66, 62, 61, 0.1);
}
@media all and (max-width: 500px) {
  input {
    width: 320px;
  }
}
input:focus {
  border-bottom: 4px solid #F0DC9B;
}
.gradient {
  width: 400px;
  height: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 7.5px;
  background: -webkit-linear-gradient(left, #00FF00, #FFFF00);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #00FF00, #FFFF00);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #00FF00, #FFFF00);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #00FF00, #FFFF00);
  /* Standard syntax */
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-align-content: center;
  -webkit-transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.2) 0.6s, height 0.3s cubic-bezier(0, 0.1, 0, 1.2) 0.2s, margin 0.3s cubic-bezier(0, 0.1, 0, 1.4) 0.4s;
  -moz-transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.2) 0.6s, height 0.3s cubic-bezier(0, 0.1, 0, 1.2) 0.2s, margin 0.3s cubic-bezier(0, 0.1, 0, 1.4) 0.4s;
  -ms-transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.2) 0.6s, height 0.3s cubic-bezier(0, 0.1, 0, 1.2) 0.2s, margin 0.3s cubic-bezier(0, 0.1, 0, 1.4) 0.4s;
  -o-transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.2) 0.6s, height 0.3s cubic-bezier(0, 0.1, 0, 1.2) 0.2s, margin 0.3s cubic-bezier(0, 0.1, 0, 1.4) 0.4s;
  transition: width 0.5s cubic-bezier(0, 0.1, 0, 1.2) 0.6s, height 0.3s cubic-bezier(0, 0.1, 0, 1.2) 0.2s, margin 0.3s cubic-bezier(0, 0.1, 0, 1.4) 0.4s;
}
.gradient h1 {
  font-size: 2em;
  opacity: 0;
  height: 0;
  overflow: hidden;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.4s cubic-bezier(0, 0.1, 0, 1.2) 0.2s;
}
.gradient:hover {
  cursor: pointer;
}
.gradient.checked {
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.2);
  width: 600px;
  height: 120px;
}
@media all and (max-width: 500px) {
  .gradient.checked {
    width: 100%;
  }
}
.gradient.checked h1 {
  height: 80%;
  opacity: 1;
  -webkit-transition: all 0.4s cubic-bezier(0, 0.1, 0, 1.2) 0.6s;
}
